<div id="error"></div>
<!-- Bootstrap JS -->
<script src="/assets/js/bootstrap/bootstrap.min.js"></script>

<!-- jQuery -->
<script src="/assets/js/jQuery/jquery-3.7.0.min.js"></script>

<!-- Custom JS -->
<script src="/assets/js/custom.js"></script>
<!-- <script src="assets/js/storage.js"></script> -->
<script src="/assets/js/app.js"></script>
