<header class="mb-md-5">
<!-- Logo and Phone Info -->
<div class="logo">
  <!-- Link to the home page -->
  <a href="/" style="text-decoration: none;">
    <!-- Logo Image -->
    <img src="/assets/images/icon.png" alt="Icon" />
    <!-- Text next to the image -->
    SOTM.
  </a>
  <p class="sideline">Pastors, Employee Record Management</p>
</div>

<!-- <div class="logo">
<img src="/assets/images/icon.png"   alt="Icon" />SOTSM.
<p class="sideline">Pastors, Employee Record Management</p>
</div> -->
<div class="row">
  <div class="col-md-12">
  <% if (currentUser) { %>
 <a href="/user/logout"  class="btn btn-sm btn-primary"style="padding:10px 20px;">logout</a>
 <% if (currentUser.firstName === 'Super') { %>
  <a href="/admin/report" class="btn btn-sm btn-primary" style="padding:10px 20px;">Admin Report</a>
  </div>
 <% } %>
<% }%>
</div>
<div>
<h1 class="logo" id="timer">09:00</h1>
</div>
<!-- Phone Information -->
<a href="#" class="phoneInfo">
<img src="/assets/images/phone.png" alt="Phone" />
<!-- Phone Details -->
<article>
<h4>(234) 80 85 448030</h4>
<p>Call for Quick Support </p>
</article>
</a>

</header>