
<div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <ul class="vertical-menu">
            <a class="link" href="/admin/analysis"><li><i class="fa-regular fa fa-bar-chart mr-2 fa-fw"></i> Church Analysis</li></a>
            <a class="link" href="/admin/region"><li><i class="fa-regular fa fa-bar-chart mr-2 fa-fw"></i> Regions</li></a>
            <a class="link" href="/admin/legal"><li><i class="fa-regular fa fa-legal mr-2 fa-fw"></i> Legals/Properties</li></a>
            <a class="link" href="/admin/leadership"><li><i class="fa-regular fa-user mr-2 fa-fw"></i> Ordinations/Leaders</li></a>
            <a class="link" href="/admin/pastors"><li><i class="fa-regular fa-user mr-2 fa-fw"></i> Pastors/Hierachy</li></a>
            <a class="link" href="/admin/schools"><li><i class="fa-regular fa fa-bar-chart mr-2 fa-fw"></i> Mission Schools</li></a>
            <a class="link" href="/admin/missions"><li><i class="fa-regular 	fa fa-signal mr-2 fa-fw"></i> Mission Churches</li></a>
            <a class="link" href="/admin/campuses"><li><i class="fa-regular  fa fa-building mr-2 fa-fw"></i> Campus Ministry</li></a>
            <a class="link" href="/admin/active-workforce"><li><i class="fa-regular fa-user mr-2 fa-fw"></i> Workforce</li></a>
            <a class="link" href="/users"><li><i class="fa-regular fa-user mr-2 fa-fw"></i> Employee Records</li></a>
            <a class="link" href="/auth/users"><li><i class="fa-regular fa-user mr-2 fa-fw"></i> Authorized User</li></a>
            <p><li>Church Config</li></p>
            <a class="link" href="/church/parishes"><li><i class="fa-regular fa-building  mr-2 fa-fw"></i> Parishes</li></a>
            <a class="link" href="/church/zones"><li><i class="fa-regular fa-building  mr-2 fa-fw"></i> Parishes by Zones</li></a>
            <a class="link" href="/church/dioceses"><li><i class="fa-regular fa-building  mr-2 fa-fw"></i> Parishes by Dioceses</li></a>
            <a class="link" href="/church/divisions"><li><i class="fa-regular fa-building  mr-2 fa-fw"></i> Parishes by Divisions</li></a>
            <a class="link" href="/church/regions"><li><i class="fa-regular fa-building  mr-2 fa-fw"></i> Parishes by Regions</li></a>
            <a class="link" href="/church/nationals"><li><i class="fa-regular fa-building  mr-2 fa-fw"></i> Parishes by Nationals</li></a>
            <a class="link" href="/church/missions"><li><i class="fa-regular fa-building  mr-2 fa-fw"></i> Mission Field Parishes</li></a>
            <a class="link" href="/church/campuss"><li><i class="fa-regular fa-building  mr-2 fa-fw"></i> Parishes on Campus</li></a>

          </ul>
        </div>
      </div>
    </div>